@charset "UTF-8";

body{
  margin: 0;
  background-image: url(../img/cosmo.jpg);
  background-size: 200%;
  font-family: 'UD デジタル 教科書体 N-B';
}

.hidden{
  display: none;
}

.clear{
  opacity: 0;
}

#mask{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 3;
}

#mask.clear{
  transition: all 1.5s;
}

button{
  position: absolute;
  top: 500px;
  left: 0;
  right: 0;
  display: block;
  width: 100px;
  margin: 0 auto;
  z-index: 4;
}

main{
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}

main header{
  position: relative;
  text-align: center;
  margin-top: 16px;
  z-index: 4;
  transform: translate(-1000px, 250px);
}

main header.move{
  animation-name: move;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

main header.jump{
  transform: translateY(250px);
  animation-name: jump;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes move{
  30% {
    transform: translate(-100px, 250px);
  }
  50% {
    transform: translate(50px, 248px) rotate(45deg);
  }
  90% {
    transform: translate(70px, 245px) rotate(50deg);
  }
  100% {
    transform: translateY(250px);
  }
}

@keyframes jump{
  50%{
    transform: translateY(250px) scaleY(.3);
    transform-origin: bottom;
  }
  60%{
    transform: translateY(-200px) scale(1);
  }
  70%{
    transform: none;
  }
  80%{
    transform: scaleY(.3);
    transform-origin: bottom;
  }
  100%{
    transform: none;
  }
}

main header.skip{
  transform: none;
}

main nav{
  position: relative;
}

main nav ul{
  list-style: none;
  margin-left: 36px;
  padding: 0;
}

main nav li{
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-top: 24px;
  width: 280px;
  line-height: 2.5;
  text-align: center;
  border-radius: 24px;
  border: 4px solid #83c508;
  background-color: #0b8520;
  z-index: 2;
  transform: translateX(-500px);
  transition: transform .7s, opacity .4s;
}

main nav li.delay-a{
  transition-delay: .2s;
}

main nav li.delay-b{
  transition-delay: .4s;
}

main nav li.delay-c{
  transition-delay: .6s;
}

main nav li.delay-d{
  transition-delay: .8s;
}

main nav li.show{
  transform: none;
  opacity: 1;
}

main nav li.stop{
  transition: none;
}

main nav li:hover{
  transform: scale(1.2);
}

main nav li a{
  text-decoration: none;
  color: #fff;
}

main article{
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

main article img{
  float: right;
  width: 100%;
  height: 100%;
}

footer{
  width: 500px;
  height: 80px;
  margin: 36px auto 0;
  border-radius: 8px;
  background-color: #33241b;
  border: 4px dashed #b87247;
  outline: 8px solid #dfcb8b;
}

footer p{
  line-height: 2;
  margin: 8px 8px 0;
  color: #fff;
}

@media (min-width:1000px){
  main nav li{
    transform: translateY(30px);
    opacity: 0;
  }
}

@media (max-width:450px){
  main nav ul{
    margin-left: 12px;
  }

  main nav li{
    font-size: 14px;
    margin-top: 16px;
    width: 180px;
  }

  main article img{
    width: 80%;
    height: 80%;
    transform: translate(30px, 15px);
  }

  footer{
    width: 300px;
  }
}